<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Assets</title>
</head>

<body>
  <div class="container">
    <h1>Assets</h1>
    {{> assets}}
  </div>
</body>

<template name="assets">
  <table class="table table-hover">

    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Location</th>
        <th>Value in USD</th>
      </tr>
    </thead>

    <tbody>
    {{#each assets}}
      <tr>
        <td>
          <button id="deleteAsset" title="Delete {{name}}" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Delete asset</span></button>
        </td>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{value}}</td>
      </tr>
    {{/each}}
    </tbody>

  </table>

  <h2>Add new asset</h2>
  <form role="form">
    {{> formInputText id='inputName' label='Name' placeholder='Enter a name'}}
    {{> formInputText id='inputLocation' label='Location' placeholder='Enter a location'}}
    {{> formInputText id='inputValue' label='Value' placeholder='Enter a value in USD (example: $15.28)'}}
    <button id="addNewAsset" type="submit" class="btn btn-default">Submit</button>
  </form>
</template>

<template name="formInputText">
  <div class="form-group">
    <label for="{{id}}">{{label}}</label>
    <input type="text" class="form-control" id="{{id}}" placeholder="{{placeholder}}" required>
  </div>
</template>
